@model HR.Models.EmergencyContactViewModel
<div class="project_detail col-md-4 col-sm-4 col-xs-12">
    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Relationship)
    </p>
    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Relationship)
    </p>
    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Title)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Title)
    </p>



    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Forenames)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Forenames)
    </p>

    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Surname)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Surname)
    </p>
    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.CountryId)
    </p >

    <p >
        @Html.DisplayFor(model => model.EmergencyContact.Country.Name)
    </p >

    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Address1)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Address1)
    </p>

    <p class="title">
      
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Address2)
    </p>

    <p class="title">
    
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Address3)
    </p>

    <p class="title">
    
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Address4)
    </p>

    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Postcode)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Postcode)
    </p>

    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Telephone)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Telephone)
    </p>

    <p class="title">
        @Html.DisplayNameFor(model => model.EmergencyContact.Mobile)
    </p>

    <p>
        @Html.DisplayFor(model => model.EmergencyContact.Mobile)
    </p>

</div>

